@font-face{
    font-family:Conv_MaisonNeue-Light;
    src:url('assets/MaisonNeue-Light.woff') format("opentype");
}
body{font-family:'Conv_MaisonNeue-Light';}
.navbar{
    min-height:75px;
}
.row{
    padding-top:20px;
}
.centered{
    display:block;
    margin-top:auto;
    margin-bottom:auto;

}
.btn-red{
    background:#FF4040;
    background-color:#FF4040;
    text-transform:uppercase;
    color:#ffffff;
    text-decoration-color: #ffffff;
    position: relative;
    display:block;
    margin-top:auto;
    margin-bottom:auto;

}
.company{
    font-size:24px;
    text-transform: uppercase;
    color:#737578;
}
.city{
    font-size:15px;
    text-transform: uppercase;
    color:#737578;
}
.job{
    font-size:24px;
    color:#737578;
}
.label{
    font-size:15px;
    text-transform: uppercase;
    color:#737578;
}
.greybg{
    background-color: #f4f4f4;
}









/* = Scroll body
------------------------*/
::-webkit-scrollbar{
  width:0.2em;
}
::-webkit-scrollbar-track{
  background-color:#bdc3c7;
}
::-webkit-scrollbar-thumb{
  background-color:#7f8c8d;
}
/* = table
------------------------*/



/* = Responsive table
------------------------*/

/* http://elvery.net/demo/responsive-tables/  */
@media only screen and (max-width: 800px){
  .box-table table{
    width:100%;
    border-collapse:collapse;
    border-spacing:0;
  }
  .box-table th,
  .box-table td{
    margin:0;
    vertical-align:top;
  }
  .box-table th{
    text-align:left;
  }
  .box-table table{
    display:block;
    position:relative;
    width:100%;
  }
  .box-table thead{
    display:block;
    float:left;
  }
  .box-table tbody{
    display:block;
    width:auto;
    position:relative;
    overflow-x:auto;
    white-space:nowrap;
  }
  .box-table thead tr{
    display:block;
  }
  .box-table th{
    display:block;
    text-align:right;
  }
  .box-table tbody tr{
    display:inline-block;
    vertical-align:top;
  }
  .box-table td{
    display:block;
    min-height:1.25em;
    text-align:left;
  }
  .box-table th{
    border-bottom:0;
    border-left:0;
  }
  .box-table td{
    border-left:0;
    border-right:0;
    border-bottom:0;
  }
}
/* = Error
------------------------*/
.error_table {
  display: block;
  background: #E05E5E;
  color: #D1D1D1;
  font-family: 'Vollkorn', serif;
  text-align: center;
  font-size: 3em;
  width: 90%;
  padding: 5%;
}
/* = Loader
------------------------*/
.loading_table{
  background:#d35400;
  color:#ecf0f1;
  font-family: 'Vollkorn', serif;
  text-align: center;
  font-size: 1em;
  width: 0;
  display: block;
  overflow: hidden;
  height: 1em;
  padding:0.5em;
  animation: table_loader 10s infinite ease;
}
@keyframes table_loader{50%{width:100%}}
@-webkit-keyframes table_loader{50%{width:100%}}
@-moz-keyframes table_loader{50%{width:100%}}
@-ms-keyframes table_loader{50%{width:100%}}
@-o-keyframes table_loader{ 50%{width:100%}}
